!!! 5
%html{:lang => 'en'}
  %head
    %title jQuery.SwapView example
    %meta{:charset => 'utf-8'}
    %link{:rel => 'stylesheet', :href => 'stylesheets/swapview.css'}

  %body
    #container
      %h1 jQuery SwapView
      %p The following examples show the various uses of jQuery.Swapview. Feel free to view the source or check it out on <a href="http://github.com/stickel/jQuery-SwapView">github</a>.
      %section
        %h2 Single trigger
        %p At the minimum, jQuery.SwapView allows a single trigger to cycle through an unlimited number of slides.
        .swapview-container#single-trigger
          %ul.swap-views
            %li.active.js-swapview
              %img{:src => 'http://farm4.staticflickr.com/3348/3303142398_7c146e6d7e_q.jpg', :width => '150', :height => '150'}
            %li.js-swapview
              %img{:src => 'http://farm4.staticflickr.com/3535/3227741978_cb6392804c_q.jpg', :width => '150', :height => '150'}
            %li.js-swapview
              %img{:src => 'http://farm4.staticflickr.com/3572/3370362653_ba7a53eef3_q.jpg', :width => '150', :height => '150'}
            %li.js-swapview
              %img{:src => 'http://farm4.staticflickr.com/3635/3370362591_7b298c294f_q.jpg', :width => '150', :height => '150'}
            %li.js-swapview
              %img{:src => 'http://farm4.staticflickr.com/3541/3363630955_dce78c32bb_q.jpg', :width => '150', :height => '150'}
            %li.js-swapview
              %img{:src => 'http://farm3.staticflickr.com/2574/3774259586_aa35a69970_q.jpg', :width => '150', :height => '150'}
          %nav.swapview-nav
            %a.js-swapview-trigger{:class => 'm-button', :href => '#'}
              Swap

      %section
        %h2 Multiple triggers
        %p You can use multiple triggers with jQuery.SwapView as well. Set the <code>href</code> in each trigger to the <code>id</code> of the view you want to show.
        .swapview-container#multiple-triggers
          %ul.swap-views
            %li.active.js-swapview#slide-1
              %img{:src => 'http://farm4.staticflickr.com/3348/3303142398_7c146e6d7e_q.jpg', :width => '150', :height => '150'}
            %li.js-swapview#slide-2
              %img{:src => 'http://farm4.staticflickr.com/3535/3227741978_cb6392804c_q.jpg', :width => '150', :height => '150'}
            %li.js-swapview#slide-3
              %img{:src => 'http://farm4.staticflickr.com/3572/3370362653_ba7a53eef3_q.jpg', :width => '150', :height => '150'}
            %li.js-swapview#slide-4
              %img{:src => 'http://farm4.staticflickr.com/3635/3370362591_7b298c294f_q.jpg', :width => '150', :height => '150'}
            %li.js-swapview#slide-5
              %img{:src => 'http://farm4.staticflickr.com/3541/3363630955_dce78c32bb_q.jpg', :width => '150', :height => '150'}
            %li.js-swapview#slide-6
              %img{:src => 'http://farm3.staticflickr.com/2574/3774259586_aa35a69970_q.jpg', :width => '150', :height => '150'}
          %nav.swapview-nav
            %a.js-swapview-trigger{:class => 'm-button', :href => '#slide-1'}
              Slide 1
            %a.js-swapview-trigger{:class => 'm-button', :href => '#slide-2'}
              Slide 2
            %a.js-swapview-trigger{:class => 'm-button', :href => '#slide-3'}
              Slide 3
            %a.js-swapview-trigger{:class => 'm-button', :href => '#slide-4'}
              Slide 4
            %a.js-swapview-trigger{:class => 'm-button', :href => '#slide-5'}
              Slide 5
            %a.js-swapview-trigger{:class => 'm-button', :href => '#slide-6'}
              Slide 6

    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
    %script{:src => "../jquery.swapview.js"}

    :javascript
      $(document).ready(function() {
        $('#single-trigger').SwapView();
        $('#multiple-triggers').SwapView();
      });

